/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: Muli;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** GLOBAL STYLES **/
body {
  background: #ede0be;
}
a {
  color: #728621;
  text-decoration: italic;
}
.out {
  width: 100%;
}
.title {
  width: 415px;
  margin: 0px auto;
  margin-top: 100px;
  padding: 20px;
  border: solid 10px #728621;
}
h1 {
  color: #9da059;
  font-size: 5.0em;
  font-family: 'Montserrat';
}
.red {
  color: #ebce94;
  text-decoration: none;
}
.footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: 30em;
  margin-left: 20px;
}

#jobfeed {
  width: 1100px;
  margin: 0px auto;
}

.posting {
  padding: 5px;
  border-bottom: 1px solid #aaa;
}

.posting-title {
  float: left;
  margin-right: 10px;
  font-weight: 700;
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.posting-date {
  float: right;
}

.posting-description {
  display: none;
  padding-top: 10px;
  padding-bottom: 5px;
}

#title {
  margin-bottom: 20px;
  text-align: center;
}